.container {
    margin: auto;
    max-width: var(--break-point-xl);
    font-family: Public Sans;
}

.title {
    color: #333;
    padding-top: 20px;
    padding-bottom: 10px;
    font-weight: lighter;
}

.categories {
    display: grid;
    list-style-type: none;
    list-style: none;
    gap: 20px;
    grid-template-columns: repeat(4, minmax(100px, 1fr));
    max-width: 900px;
    margin: auto;
}

.center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (max-width: 1080px) {
    .categories {
        grid-template-columns: repeat(3, minmax(90px, 1fr));
    }
}

@media screen and (max-width: 576px) {
    .categories {
        grid-template-columns: 1fr;
        padding: 0 20px;
    }
    
}
