.container {
    margin: auto;
    max-width: var(--break-point-xl);
    font-family: Public Sans;
}

.title {
    color: #333;
    padding-top: 20px;
    padding-bottom: 10px;
    font-weight: lighter;
}

.categories {
    display: grid;
    list-style-type: none;
    list-style: none;
    gap: 10px;
    grid-template-columns: repeat(4, minmax(100px, 1fr));
    max-width: 900px;
    margin: auto;
}

.categories img {
    width: 100%;
    object-fit: cover;
}

.categories .category-card {
    position: relative;
}

.categories .category-card:hover {
    cursor: pointer;
    opacity: 0.8;
}

.categories .category-card p {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    font-size: 24px;
    text-align: center;
}

.center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media screen and (max-width: 1080px) {
    .categories {
        grid-template-columns: repeat(3, minmax(90px, 1fr));
    }
}
