.header {
    width: 100%;
    height: 60px;
    border-bottom: 1px solid #111;
    font-family: Public Sans;
    font-style: normal;
    font-size: 24px;
    box-sizing: border-box;
}

.wrap {
    display: flex;
    align-items: center;
    max-width: 1200px;
    height: 100%;
    margin: auto;
    box-sizing: border-box;
    width: 100%;
}

.wrap .brand-name {
    flex-shrink: 0;
}

.wrap nav {
    width: 100%;
    box-sizing: border-box;
}

.header nav ul {
    padding-left: 10px;
    display: flex;
    list-style: none;
    list-style-type: none;
    gap: 10px;
    box-sizing: border-box;
    width: 100%;
}

.header nav ul li a {
    text-decoration: none;
    color: #111;
}

.header nav ul li a:hover {
    text-decoration: underline;
}

.brand-name {
    font-weight: bolder;
}

.search-input {
    border: 0px;
    font-size: 24px;
    padding-left: 10px;
    padding-right: 10px;
    outline: none;
}

.search-button {
    font-size: 24px;
}

.search-form {
    padding-left: 20px;
}





@media (min-width: 1080px) {

    .header .wrap nav ul {
        position: relative;
    }

    .toggle-show-links-button {
        display: none;
    }

    .cart-link,
    .login-link {
        float: right;
        position: absolute;
    }

    .cart-link {
        right: 100px;
    }

    .login-link {
        right: 10px;
    }
}

@media screen and (max-width: 1080px) {
    .header {
        min-height: 60px;
        height: 60px;
    }

    .header .wrap {
        justify-content: space-between;
        width: 100%;
    }

    .header nav {
        display: none;
    }


    .header nav.show-links {
        display: flex;
        position: absolute;
        top: 60px;
        left: 0;
        right: 0;
        background: #fff;
        padding: 0 10px;
        z-index: 1000;
        padding: 10px;
    }

    .header nav.show-links ul {
        display: flex;
        flex-direction: column;
        width: 100%;

    }

    .header nav.show-links ul .cart-link,
    .header nav.show-links ul .login-link {
        align-self: self-start;
    }
}