.pt-3 {
    padding-top: 3rem;
}

.cart-page-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.cart-page-container ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
    list-style: none;
    list-style-type: none;
}

.cart-page-container .cart-product-card {
    width: 560px;
}

.cart-page-container .section-caption {
    padding: 10px 0;
    color: #000;
    font-family: Public Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
    letter-spacing: -0.2px;
}

.cart-page-container aside {
    width: 398px;
}

.cart-page-aside {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0 20px;
}

.cart-page-aside * {
    width: 100%;
}

.cart-page-title {
    color: #000;

    /* Heading 03 */
    font-family: Public Sans;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 44px;
    /* 122.222% */
    letter-spacing: -1.5px;
}

@media screen and (max-width: 768px) {
    .cart-page-container {
        grid-template-columns: repeat(1, 1fr);
    }

    .cart-page-container section,
    .cart-page-title {
        padding: 0 20px;
    }

    .cart-page-container aside {
        width: 100%;
    }
}