.product-container {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(4, 1fr);
    gap: 38px;
}

.product-container main {
    grid-column: 2 / 5;
}

.filter-category-list {
    list-style: none;
    list-style-type: none;
}

.filter-category-list li {
    padding: 5px 0;
}

.toggle-filter-btn {
    position: fixed;
    left: 20px;
    bottom: 20px;
    display: none;
    z-index: 1000;
    padding: 12px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .product-container {
        grid-template-columns: 1fr;
        grid-auto-flow: dense;
    }

    .product-container main {
        grid-column: 1;
        padding: 10px;
    }

    .product-container aside {
        display: none;
    }

    .toggle-filter-btn.active {
        display: block;
    }

    .product-container aside.asModal {
        display: block;
        position: fixed;
        z-index: 1000;
        background: #fff;
        top:0;
        right: 0;
        bottom: 0;
        left: 0;
        overflow-y: auto;
        padding: 20px 20px;
    }

    .close-filter {
        position: absolute;
        right: 20px;
        top: 20px;
        background: none;
        border: 0;
        cursor: pointer;
        font-size: 2rem;
        opacity: 0.5;
    }

    .close-filter:active {
        opacity: 0.8;
        color: red;
    }
}