:root {
    --break-point-xs: 0;
    --break-point-sm: 576px;
    --break-point-md: 768px;
    --break-point-lg: 992px;
    --break-point-xl: 1200px;
    --break-point-xxl: 1400px;
}

* {
    margin: 0;
    padding: 0;
}

.container {
    margin: auto;
    max-width: var(--break-point-xl);
    font-family: Public Sans;
}

.title {
    color: #333;
    padding-top: 20px;
    padding-bottom: 10px;
    font-weight: lighter;
}